body {
    background-color: white;
}

header {
    padding: 15px 10px;
    background-color: white;
    color: rgb(84, 172, 172);
    border-bottom: rgb(21, 107, 34) solid 1px;
}

header li {
    padding: 5px;
    list-style: none;
    display: inline-block;
}

#header-link:hover {
    color: rgb(167, 216, 216);
}

#header-link {
    text-decoration: none;
    color: rgb(84, 172, 172);
}

#title {
    font-size: 30px;
    font-weight: bold;
}

#sub {
    font-size: 20px;
    font-weight: bold;
}


#Btn {
    font-size:small;
}

#account {
    float: right;
}


#idea {
    margin: 100px 30px 30px 30px;
    padding: 10px;
    background-color: rgb(255, 244, 231);
    border: black dashed 1px;
}

#idea_List {
    margin: 15px 30px 20px 50px;
    padding: 10px 10px 15px 10px;
    background-color: rgb(238, 255, 238);
    ;
    border: black dashed 1px;
    position: relative;
    z-index: 2;
}

#idea_List a {
    z-index: 1;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#idea_List p {
    text-decoration: none;
}

#ideamain {
    text-align: center;
    font-weight: bold;
}

#count {
    text-align: right;
    color: grey;
    z-index: 3;
    pointer-events: auto;
}

#postname {
    text-align: right;
    text-decoration: none;
    color: black;
}

#chat {
    margin: 50px 30px 30px 30px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
}

#form {
    margin: 50px;
    padding: 50px 0px 80px 50px;
    background-color: rgb(238, 255, 238);
}

#login_form {
    margin: 50px;
    padding: 50px 0px 150px 50px;
    background-color: rgb(238, 255, 238);
    text-align: center;
}

#button {
    text-align: center;
    margin: 100px 10px;
}

#new {
    margin: 20px 40px 50px 50px;
    font-size: x-large;
    border-bottom: 1px solid black;
}

#search {
    clear: both;
    text-align: center;
    margin-top: 50px;
}

#send {
    margin-top: 50px;
    text-align: center
}

textarea {
    border: solid 1px rgb(187, 201, 187);
    width: 100%;
    box-sizing: border-box
}

dt {
    float: left;
}

dd {
    margin-left: 80px;
}

#user {
    margin: 30px 100px;
    text-align: center;
}

#main {
    border-bottom: black solid 2px;
}

footer {
    margin-top: 0px;
    padding: 20px;
    background-color: rgb(255, 245, 254);
    text-align: center;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#tag {
    color: rgb(136, 94, 123);
    text-decoration: none;
}

#mycomment {
    margin-top: 20px;
    border-bottom: black 1px solid;
    border-left: black 3px solid;
    background-color: rgb(255, 214, 212);
    margin-left: 55px;
}

#othercomment {
    margin-top: 20px;
    border-bottom: black 1px solid;
    border-left: black 3px solid;
    background-color: rgb(219, 247, 248);
    margin-left: 55px;
}

#accountimg {
    float: left;
    border-radius: 50%;
    margin-bottom: 2px;
}

#yoki {
    float: right;
    margin: 0px 2px 5px 0px;
}

.btn--orange, a.btn--orange {
    color: rgb(255, 255, 255);
    background-color: #eb6100;
}

.btn--orange:hover, a.btn--orange:hover {
    color: #fff;
    background: #f56500;
}

.btn--green, a.btn--green {
    font-size: small;
    color: rgb(255, 255, 255);
    background-color: white;
}

.btn--green:hover, a.btn--green:hover {
    color: #fff;
    background: #d5ffde;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn, a.btn, button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn--radius {
    border-radius: 100vh;
}

#not_form_btn{
    margin-left: 50px;
    margin-bottom: 50px;
}

#about {
    padding: 200px 50px;
    background-color: rgb(210, 252, 238);
    text-align: center;
    font-size: 50px;
}

#about h1 {
    font-weight: bold;
    font-size: 100px;
    padding-bottom: 50px;
}

#explanation {
    text-align: center;
    font-size: 25px;
    padding: 200px 0px;
}

#subscribe {
    text-align: center;
    margin: 100px;
}

.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    margin-left: 500px;
    border-radius: 20px;
    height: 2.3em;
    width: 520px;
    overflow: hidden;
}

input.search_container{
    text-align: center;
}

.search_container input[type="text"] {
    border: none;
    height: 2.0em;
}

.search_container input[type="text"]:focus {
    outline: 0;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
}

#signage {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#pleaseSubscribe{
    padding: 200px 50px ;
    background-color: rgb(210, 252, 238);
    text-align: center;
    font-size: 40px;
  }

#explain{
    padding: 200px 50px ;
    background-color: rgb(233, 255, 248);
    font-size: 30px;
}

img.screenshot{
    float: right;
}